In [13]:
import pandas as pd

In [14]:
data = {
    'Fruta': ['Manzana', 'Manzana', 'Manzana', 'Plátano', 'Cereza', 'Uva', 'Uva', 'Naranja', 'Naranja', 'Naranja'],
    'Es Roja': ['Sí', 'Sí', 'No', 'No', 'Sí', 'Sí', 'No', 'No', 'No', 'No']
}
df=pd.DataFrame(data)
df.head()

     Fruta Es Roja
0  Manzana      Sí
1  Manzana      Sí
2  Manzana      No
3  Plátano      No
4   Cereza      Sí

In [15]:
tabla_contingencia=pd.crosstab(df['Fruta'],
    df['Es Roja'])

In [16]:
tabla_contingencia

Es Roja  No  Sí
Fruta
Cereza    0   1
Manzana   1   2
Naranja   3   0
Plátano   1   0
Uva       1   1